h1 {
    font-size: 150px;
    color: aquamarine;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 10px;
}

p {
    text-indent: 100px;
    letter-spacing: 5px;
}
a { text-decoration: none;}